page-home {

}
.bg-header .toolbar-background-md{
    background: linear-gradient(to right, #347eff, #1ea3ff);
}
.toolbar-title-md{
    text-align:center;
    color:white
}
.mt5p{
    margin-top: 5%;
}
.mb5p{
    margin-bottom: 5%;
}
.item-md{
    padding-bottom: 20px;
}
.register-btn{
    padding: 20px 30px !important;
    font-size: 15px !important;

}
.reg-btnitem .label{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}